body{

font-family:Arial;

margin:40px;

}

input,select{

width:300px;

padding:8px;

margin-bottom:15px;

}

button{

padding:10px;

background:#2c7be5;

color:white;

border:none;

cursor:pointer;

}
